%h1 Editing Offer

= form_for :offer, url: offer_path(@offer), method: :patch do |f|
  - if @offer.errors.any?
    %div#error-explanation
      %h2
        = pluralize(@offer.errors.count, "error")
        prohibited this offer from being saved:
        %ul
          - @offer.errors.full_messages.each do |message|
            %li= message
  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.label :description
    = f.text_area :description

  %p
    = f.submit
